:root{
    --primary-color:#760461;
    --tittle-color: #131318;
    --paragraph-color:#5A5A5D;
}

body{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 2.5rem 7.5rem ;
}
/* Nav section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    width: 12%;
}
.logo-tittle{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.Adventures{
    color: var(--primary-color);
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-ul{
    display: flex;
    gap: 2.75rem;
    text-decoration: none;
}
.nav-ul> .nav-ul, a{
    list-style: none;
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 1.125rem;
    font-weight: 400;
    
}
.selected{
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 700;
}
/* Header section  */
.hero{
    background-image: url(../recorces/Images/background.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px ;
    border-radius: 1rem;
}
.gredient{
    border-radius: 1rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.hero-contain{
    text-align: center;
    z-index: 999;
}
.hero-continer{
    position: relative;
    z-index: 111;
}
.hero-tittle{
    position: relative;
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 0rem;
}
.herro-pera{
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}
form{
    position: relative;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    margin: 30px 80px ;
    z-index: 2;
}
.where-go{
    width: 10.875rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    background: #FFF;
    border: none;
}
.when{
    width: 10.875rem;
    height: 3.25rem; 
    border-radius: 0.5rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    border: none;
}
.typs{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    border: none;
}
.find-button{
    display: flex;
    gap: 0.50rem;
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: #FFF;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    border: none;
}
/* Our Popular Tours */
.popular{
    display: flex;
    gap: 9rem;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.popular-contain{

}
.popular-tittle{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0rem;
    margin-bottom: 1.5rem;

}
.popular-detail{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.popular-ul{

}
.popular-li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.popular-button{
    width: 10.875rem;
    height: 3.25rem;
    width: 10.875rem;
    height: 3.25rem;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
}




/* Media Quarry  */
/* small devices  */
@media screen and (max-width:576px) {
body{
    margin: 0px;
    padding: 16px;
  }  
  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    width: 20%;
}
.logo-tittle{
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
}
.Adventures{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 800;
}
.nav-ul{
    display: none;
    gap: 0.5rem;
    text-decoration: none;
}

.nav-ul> .nav-ul, a{
    list-style: none;
    text-decoration: none;
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    
}
.selected{
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 700;
}
.hero{
    padding: 0px;
}
.hero-tittle{
    padding-top: 16px;
    font-size: 3rem;
}
.hero-item{
    padding: 1rem;
}
form{
    flex-direction: column;
    margin: 0px;
    padding: 1rem;
    gap: 1rem;
}
.where-go{
    width: 95%;
}
.when{
    width: 100%;
}
.typs{
    width: 100%;
}
.find-button {
    width: 100%;
}
/* Our Popular Tours */
.popular{
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.popular-contain{
    display: flex;
    flex-direction: column;
}
.popular-tittle{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.popular-detail{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.popular-li{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.popular-button{
    margin-top: 1.5rem;
}
.popular-img img{
    width: 100%;
}
}